@model Capela.Web.Entities.CapelaEvents

<div class="container-fluid header-photo">
    <h1>Deletando Evento</h1>
</div>

<div class="container">
    <div class="form-horizontal">
        <br />
        <h4>Deletando - Evento</h4>
        <hr />
        <p>
            Deseja continuar? A ação não poderá ser desfeita.
        </p>
        @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <br />
                        <input type="submit" value="Apagar Permanentemente" class="btn btn-danger" />
                    </div>
                </div>

                <div>
                    @Html.ActionLink("Cancelar Operação", "Index")
                </div>
        }
    </div>
</div>

