@model IEnumerable<Capela.Web.Entities.CapelaEvents>

<div class="container-fluid" id="event-header-container">
    <div class="container">
        <h1 id="pastoral-h1" style="color:white;">Eventos Paroquiais</h1>
        <p style="color:white; font-size:18px;">
            Aqui temos uma lista de todos os eventos da Paróquia. Para saber mais é só clicar no evento desejado. Fiquei à vontade, talvez você encontre algum evento que você possa ir!
        </p>
    </div>
</div>
<div class="container-fluid" id="events-header">

</div>

<div class="container">
    <div class="row">
        <br />

        @if (Request.IsAuthenticated) {
            <p>
                <a class="btn btn-main" href="~/CapelaEvents/Create">Adicionar Novo Evento</a>
                @*@Html.ActionLink("Create New", "Create")*@
            </p>
        }

        @foreach (var item in Model) {
            <br />
            <div class="img-responsive col-md-offset-3 col-md-6 col-xs-12 fb-comments" data-width="100%">
                @Html.Raw(HttpUtility.HtmlDecode(@item.Text))
                
                @if (Request.IsAuthenticated) {
                <br />
                <p>
                    <a href="~/CapelaEvents/Edit/@item.Id" class="btn btn-warning" role="button">Editar</a>
                    <a href="~/CapelaEvents/Delete/@item.Id" class="btn btn-danger" role="button">Deletar</a>
                </p>
                }
            </div>
        }
    </div>
</div>
